@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  position: fixed;
  box-shadow: 0 -2px 10px 0 rgba(0,0,0,.15);
  width: 100%;
  padding: 15px 20px;
  z-index: 1111;
}

.sub-list{
  position: absolute;
  top: 100%;
  display:none;
  cursor: pointer;
}
.sub-list_item{
  display: none;
  position: absolute;
  color: #ababab;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 9px;
  text-decoration: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background: white;
  font-weight: 300px;
}

.logo{
  height: 30px;
}

.welcome-img{
  padding-top: 64px;
  display: block;
    margin: 0 auto;
    
}

.navLinksContain {
  display: flex;
  justify-content: space-around;
  width: 18%;
}
.navLinks:hover .sub-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
}
.navLinks{ 
    color: #ababab;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-bottom: 20px;
}

.welcomeTitle{
  color: #00b39b;
  font-size: 34px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 300;
  letter-spacing: .3px;
  text-align: center;
  padding: 15px;

}

.cardLi{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;


}

.cardContain{
    border-radius: 10px;
    width: 40%;
    padding: 22px 40px;   
    position: relative;
    overflow: hidden;
    height: 400px;
}
.card-title{
  font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
 
}
.card-text{ 
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    color: white;
    font-weight: 300;
    letter-spacing: .3px;
  
}
.selectList{
  border:0;
    border-radius: 0;
    height: 40px;
    background: white;
    padding: 0 3.5em 0 1.5em;
}
.pc{
  position: absolute;
  left: 50%;
  height: 250px;
}
.textContain{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0px auto;
  padding: 30px;
}

.textP{
    line-height: 25px;
    font-family: sans-serif;
    font-size: 16px;
    color: #747474;
    text-align: left;
}

.links{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 40px auto;

}
.links p{
  color: #00b39b;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size:26px;
  font-weight: 300;
  letter-spacing: .3px;
  margin: 6.5px;
  width: 300px;
}

.logoContain{
  font-size: 16px;
  padding: 15px 20px;
  list-style: none;
  fill: #BDBDBD;
  display: flex;
  flex-wrap: wrap;
}
svg{
  width: 200px;
  height: 20px;
  
}
svg:hover {
  fill: #00b39b;
}

.platform{
    background-color: #e5faf8;
    display: flex;
    padding: 40px;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    overflow: hidden
}
.healthcare img {
  position: absolute;
  top: 50%;

}
.healthcare h2{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 34px;
  font-weight: 300;
  color: #00b39b;
}
.healthcare p{
  color: #747474;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.75;
}
.contain-box{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.boxes{
  border: 1px solid white;
  background: white;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  height: 250px;
  margin : 20px;
  width : 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
        }
.boxes h3{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #00b39b;
}
.boxes p{
  color: #747474;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.improve{
  margin: 0 auto;
  width: 80%;
  padding: 30px;
}
.improve h2 {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #00b39b;
    text-align: center;
}
.improve p{
  color: #747474;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-align: center;
  width: 460px;
  position: relative;
  left: 33.33%;
}
.office-country{
  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 0px auto;
}
.pays:hover {
  box-shadow: -7px 13px 36px 6px rgba(171,168,171,1)}

.pays{
  background: white;
    border: 1px solid transparent;
    border-radius: 6px;
    overflow: hidden;
    height: 400px;
    
    
}
.pays-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pays-text button{
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background-color:#3d94f6;
    border-radius:6px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:sans-serif;
    font-size:10px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
    padding: 15px 20px;
}
pays-text button:hover {
      background:linear-gradient(to bottom, #1c92e6 5%, #0088cc 100%);
      background-color:#1c92e6;
}
.pays-text h3{
  color: #747474;
    font-size: 18px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.footer{
  padding: 20px 10px;
}
.footer p{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ababab;
  text-align: center;
}
.footer-links a{
  color: #3d83df; 
    text-decoration: none;
}